@import url(reset.css);

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


body{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
:root{
    --grey-color: #757575;
    --blue-color: #2196F3;
    --white-color: #fff;
    --dark-blue-color: #2F303A;
    --light-grey-color: #F5F4FA;
    --black-color: #000;
    --orange-color: #F39121;
    --header-border: #ECECEC;
    --card-border: #EEEEEE;
    --title-text: #212121;
}

/* HEADER */
.header {
    padding: 24px 0 25px;
    border-bottom: var(--header-border) solid 1px;
    position: relative;
    z-index: 5;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    margin-left: 93px;
    gap: 50px;
}
.header-nav-item{
    position: relative;
}
.header-nav-item li{
    border-top: 1px solid #fff;
    background: var(--dark-blue-color);
}
.header-nav-item li:first-child{
    border-top: none;
}
.header-nav-item li a{
    color: var(--white-color);
    padding: 10px 20px;
    display: block;
}
.header-nav-item li a:hover{
    color: var(--blue-color);
}
.header-nav > li > ul{
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    padding-top: 34px;
}
.header-nav-item:hover > ul{
    display: block;
}
.pop-up{
    position: relative;
}
.pop-up:hover > .pop-up-list{
    display: block;
}
.pop-up-list {
    position: absolute;
    top: 0;
    right: 101%;
    display: none;
}
.contacts {
    font-size: 0;
    margin-left: auto;
}
.gmail {
    font-size: 14px;
    margin-right: 50px;
}
.phone {
    display: inline-block;
    font-size: 14px;
    color: var(--grey-color);
}
a{
    color: var(--black-color);
    text-decoration: none;
}
a:hover{
    color: var(--blue-color);
}

.header-link.active{
    text-decoration: underline orange 3px;
}

/* HERO */

.hero {
    background: url("../images/hero-img.jpg") no-repeat 50%/cover;
    position: relative;
}
.hero::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .5);
}
.hero-container {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero-title {
    color: var(--white-color);
    font-size: 44px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 696px;
    text-align: center;
}
.btn {
    border: none;
    min-width: 200px;
    font-size: 16px;
    padding: 10px 0;
    background: var(--blue-color);
    color: var(--white-color);
    border-radius: 4%;
    margin-top: 30px;
    line-height: 30px;
}

.btn:hover{
    cursor: pointer;
    background: var(--white-color);
    color: var(--blue-color);
}

/* INFO */

.info {
    padding-top: 94px;
}
.info-cards {
    display: flex;
    gap: 30px;
}
.info-card {
    flex: 1 1 25%;
    position: relative;
}
.info-card:nth-child(1)::before{
    background: var(--light-grey-color) url(../images/antenna_1.png) no-repeat 50%;
    content: "";
    position: absolute;
    inset: 0;
    width: 270px;
    height: 120px;
    border-radius: 4%;
}
.info-card:nth-child(2)::before{
    background: var(--light-grey-color) url(../images/clock_2.png) no-repeat 50%;
    content: "";
    position: absolute;
    inset: 0;
    width: 270px;
    height: 120px;
    border-radius: 4%;
}
.info-card:nth-child(3)::before{
    background: var(--light-grey-color) url(../images/diagram_3.png) no-repeat 50%;
    content: "";
    position: absolute;
    inset: 0;
    width: 270px;
    height: 120px;
    border-radius: 4%;
}
.info-card:nth-child(4)::before{
    background: var(--light-grey-color) url(../images/astronaut_4.png) no-repeat 50%;
    content: "";
    position: absolute;
    inset: 0;
    width: 270px;
    height: 120px;
    border-radius: 4%;
}
.info-card-title {
    margin-top: 150px;
    font-weight: bold;
    text-transform: uppercase;
}
.info-card-desc {
    margin-top: 10px;
    color: var(--grey-color);
    line-height: 24px;
}

/* DOING */

.doing {
    padding: 94px 0;
}
.doing-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0;
}
.doing-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
}
.doing-photoes {
    display: flex;
    gap: 30px;
}
.doing-photo {
    height: 294px;
    position: relative;
    
}
.doing-photo-desc{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--dark-blue-color);
    height: 70px;
    margin-top: 224px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(47, 48, 58, 0.8);
}
.doing-photo-desc p{
    color: var(--white-color);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}
.doing-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* TEAM */

.team {
    background: var(--light-grey-color);
    padding: 94px 0;
}
.team-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0;
}
.team-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
}
.team-cards {
    display: flex;
    font-size: 0;
    gap: 30px;
}
.name-profession{
    padding: 30px 0;
}
.team-card {
    text-align: center;
    background: var(--white-color);
}
.team-card-img {
    object-fit: cover;
    width: 100%;
    height: 260px;
}
.name {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 10px;
}
.profession {
    font-size: 16px;
    font-weight: 400;
    color: var(--grey-color);
}

/* FOOTER */

.footer {
    background: var(--dark-blue-color);
    padding: 60px 0;
    color: var(--white-color);
}
.footer-logo {
    margin-bottom: 20px;
}
.footer-text ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-text ul li a{
    opacity: 0.6;
    color: var(--white-color);
}

/* PORTFOLIO PAGE */

/* PROJECTS */
.portfolio-projects {
    margin: 94px 0;
}
.projects {
    justify-content: center;
}
.filters {
    display: flex;
    margin-bottom: 50px;
    gap: 8px;
    justify-content: center;
}
.filter-button {
    background: var(--light-grey-color);
    padding: 6px 27px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    border-radius: 4px;
}
.filter-button:hover{
    background: var(--blue-color);
    color: var(--white-color);
}
.project-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.project-card {
    border: var(--card-border) solid 1px;
    flex: 1 1 30%;
}
.project-img:hover div .description{
    opacity: 1;
}
.title-img{
    position: relative;
}
.project-img-box {
    position: relative;
    overflow: hidden;
}
.description{
    position: absolute;
    inset: 0;
    background: rgb(33, 150, 243, .9);
    color: var(--white-color);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    padding: 24px;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
}
.project-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.project-card-desc {
    padding: 20px 24px;
}
.project-card-title {
    font-size: 18px;
    line-height: 36px;
    padding-bottom: 4px;
    font-weight: 700;
    color: var(--title-text);
}
.project-card-filter {
    line-height: 30px;
    font-size: 16px;
    color: var(--grey-color);
}